pkgbase = appicon-bin
	pkgdesc = Resolve desktop and brand icons to local file paths (prebuilt)
	pkgver = 0.2.2
	pkgrel = 1
	url = https://github.com/bolens/appicon
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	optdepends = resvg: preferred SVG→PNG rasterizer
	optdepends = librsvg: rsvg-convert SVG→PNG fallback
	provides = appicon
	conflicts = appicon
	conflicts = appicon-git
	options = !strip
	source_x86_64 = https://github.com/bolens/appicon/releases/download/v0.2.2/appicon_v0.2.2_linux_amd64.tar.gz
	sha256sums_x86_64 = 01ba39e31aac1cf85aafc16772d5ac29f4470ac00fb9de27e5826bb3026a59b2
	source_aarch64 = https://github.com/bolens/appicon/releases/download/v0.2.2/appicon_v0.2.2_linux_arm64.tar.gz
	sha256sums_aarch64 = c194f27a94c246987c0d001d571c2a4669da08e9c1fa42efaa23ad930842d82c

pkgname = appicon-bin
